.MainMenu {
    width: 100%;
    height: 100vh;
    color: $color-grey-lightest;
    font-size: 4rem;
    padding-top: 20rem;
    
    &__forest {
        background: url('../../assets/images/backgrounds/forest1.jpg');
        background-size: cover;
        background-position: center;
    }
    &__ocean {
        background: url('../../assets/images/backgrounds/ocean1.jpg');
        background-size: cover;
        background-position: center;
    }
    &__mountains {
        background: url('../../assets/images/backgrounds/mountains1.jpg');
        background-size: cover;
        background-position: center;
    }
    
    
    
    
    
    &__container {
        background-color: rgba($color-grey-darkest,.95);
        width: 50rem;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 2px;
        box-shadow: 0 1px 2px $color-grey-darkest;
        ul li {
            list-style: none;
        }
        ul {
            margin: 2rem;
        }
    }
    &__header {
        
        font-size: 6rem;
        
    }
    &__option {
        display: inline-block;
        padding: 1rem 3rem;

        cursor: pointer;
        background-color: rgba($color-grey-darkest,.95);
        margin-bottom: 2rem;
        color: grey;
        text-decoration: none;
        border: 2px solid $color-gold;
        font-size: 3rem;
        border-radius: 10rem;
    }
    &__selected {
        background-color: rgba($color-red, .9);
        color: white;
        
        
    }
    &__disabled {
        text-decoration: line-through;
    }
}



