.DeleteModal {
    width: 60rem;
    height: 60rem;
    background-color: rgba($color-grey-darkest,1);
    position: absolute;
    top: 10rem;
    left: 30rem;
    z-index: 10;

    &__user {
        border: 1px solid $color-grey;
    }

    &__text {
        color: $color-grey;
        font-size: 2.4rem;
        margin-top: 2rem;
    }
    &__link {
        border: 2px solid $color-gold;
        display: inline-block;
        margin-bottom: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 10rem;
        color: $color-grey;
    }
    &__delete {
        background-color: $color-red;
    }
    &__cancel {
        background-color: $color-green;
    }
}