.DeleteModal {
    width: 60rem;
    height: 62rem;
    background-color: rgba($color-grey-darkest,1);
    position: absolute;
    top: 4rem;
    left: 20rem;
    z-index: 10;

    @include respond(tab-land) {
        width: 50rem;
        left: 15rem;
        height: 58rem;
    }
    @include respond(tab-port) {
        left: 10rem;
    }
    @include respond(phone) {
        left: 5rem;
    }


    &__user {
        border: 1px solid $color-grey;
    }

    &__text {
        color: $color-grey;
        font-size: 2.4rem;
        margin-top: 2rem;
    }
    &__link {
        border: 2px solid $color-gold;
        display: inline-block;
        margin-bottom: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 10rem;
        color: $color-grey;
        cursor: pointer;
    }
    
    &__delete {
        background-color: $color-red;
    }
    &__cancel {
        background-color: $color-green;
    }
}