// PROJECT COLORS
$color-black: rgb(1,1,1);


$color-grey-darkest: rgb(22,22,22);
$color-grey-dark: rgb(22,22,22);
$color-grey-medium: rgba(67,67,67,1);
$color-grey: rgb(120,120,120);
$color-grey-lightest: rgb(234,237,242);

$color-gold: rgb(115,87,45);
$color-green: rgb(117,148,34);
$color-red: rgb(135, 33, 1);

$color-test-yellow-1:rgb(255,204,51);
$color-test-yellow-2: #ffb900;
$color-test-green-1: rgb(102,204,51);
$color-test-green-2: rgb(72,164,21);

//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-blue-1: rgb(25,69,95);
$color-blue-2: rgb(41,122,198);

$color-grey: rgb(199,213,224);






