.UserProfile {
    padding: 2rem;
    border-radius: .8rem;
    background-color: rgba(38,38,38,.9);
    width:24rem;
    height:38rem;
    text-decoration: none;
    color: $color-grey;
    font-size: 2rem;
    
    @include respond(tab-land) {
        width:18rem;
        height:30rem;
        margin: 0 auto;
    }
    @include respond(tab-port) {
        width:16rem;
        height:27rem;
        margin: 0 auto;
    }
    @include respond(phone) {
        width:15rem;
        height:23rem;
        margin: 0 auto;
    }
    

    &__favorites {
        display: flex;
        justify-content: space-around;
    }
  
    &__name {
        text-decoration: none;
        color: white;
        font-size: 3rem;

        @include respond(tab-port) {
            font-size: 2.4rem;
        }
        @include respond(phone) {
            font-size: 1.6rem;
        }
        
    }
   
    &__profile {
        width: 16rem;
        height: 22rem;
        
        @include respond(tab-land) {
            width: 12rem;
            height: 16rem;
        }
        @include respond(phone) {
            width: 8rem;
            height: 12rem;
        }
        
        
    }
    &__icon {
        width:6rem;
        height:6rem;
        @include respond(tab-land) {
            width: 4rem;
            height: 4rem;
        }
        
    }
    &__selected {
        background-color: rgba($color-grey-medium,1);
    }
    &__disabled {
        border: 1px solid grey;
    }
    
}
.UserProfile:not(:last-child) {
    margin-right: 4rem;
}