.UserProfile {
    padding: 10px;
    border-radius: .8rem;
    background-color: rgba(38,38,38,.9);
    width:310px;
    height:490px;
    text-decoration: none;
    
    &__favorites {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid grey;
        
    }
    &__name {
        text-decoration: none;
        color: white;
        font-size: 3rem;

    }
    &__profile {
        width:225px;
        height:300px;
    }
    &__icon {
        width:7rem;
        height:7rem;
    }
    &__selected {
        
        background-color: rgba($color-grey-medium,1);
    }
    &__disabled {
        border: 1px solid grey;
    }
}
.UserProfile:not(:last-child) {
    margin-right: 4rem;
}