.ExpDashboard {
    padding-top:2rem;
    min-height: 100vh;
    max-height: 100%;


    &__forest {
        background: url('../../assets/images/backgrounds/forest4.jpg');
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        
    }
    &__ocean {
        background: url('../../assets/images/backgrounds/ocean4.jpg');
        background-size: cover;
        background-position: center;
        
    }
    &__mountains {
        background: url('../../assets/images/backgrounds/mountains4.jpg');
        background-size: cover;
        background-position: center;
        
    }

    &__active {
        border: 2px solid $color-gold;
    }
    &__status {
        display: flex;
        width: 100rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        background-color: rgba($color-grey-darkest,.95);
        @include respond(tab-land) {
            width:80rem;
        }
        @include respond(tab-port) {
            width:60rem;
        }
    }
    &__nav {
        background-color: rgba($color-grey-darkest,.95);
        width: 100rem;
        margin: 0 auto;
        height: 6rem;
        line-height: 6rem;

        @include respond(tab-land) {
            width:80rem;
        }
        @include respond(tab-port) {
            width:60rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $color-grey-lightest;
        font-size: 2rem;
        padding: 1rem;
        margin-right: 1rem;
    }
    &__link:hover {
        border: 2px solid $color-gold;
    }
    &__menulink {
        text-decoration: none;
        color: white;
        background-color: $color-grey-darkest;
        border: 2px solid $color-gold;
        width: 12.5rem;
        border-radius: 8rem;
        height: 4rem;
        margin: 1.4rem 1rem 1rem 0rem;
        line-height: 3.5rem;
        
    }
    &__menulink:hover {
        background-color: $color-green;
    }
    &__mainmenu {
        background-color: $color-green;
    }
    &__switchuser {
        background-color: $color-green;
    }
    &__selected {
        
        border: 1px solid white;
        border-radius: 2px;
    }
    
}