.ExpDashboard {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) ), url('../../assets/images/background3.jpg');
    background-size: cover;
    padding-top:2rem;

    &__status {
        display: flex;
        width: 100rem;
        margin: 0 auto;
        background-color: rgb(240,240,240);
    }
    &__nav {
        background-color: rgba(22,22,22,.9);
        width: 100rem;
        margin: 0 auto;
    }
    &__link {
        text-decoration: none;
        color: rgb(240,240,240);
        font-size: 2.4rem;
        padding: 2rem;
    }
    &__selected {
        border: 5px solid blue;
    }
    &__menulink {
        text-decoration: none;
        color: white;
        background-color: rgb(50,57,69);
        
    }
}