.SwitchUser {
    
    position: relative;
    width:100%;
    height:100vh;
    background: url('../../assets/images/createProfileBackground.jpg');
    background-size: cover;
    padding-top:2rem;

    &__container {
        
        
        width:120rem;
        margin-left: auto;
        margin-right: auto;
        
        
    }
    &__button {
        display: inline-block;
        padding: 2rem;
        margin-top: 1rem;
        color: white;

    }
    &__selected {
        
        border: 1px solid white;
    }
    &__header {
        border-top:1px solid white;
        border-bottom: 1px solid white;
        width:50rem;
        background-color: rgba(22,22,22,.9);
        color: rgb(240,240,240);
        font-size: 3rem;
        padding: 10px 0;
        line-height: 5rem;
    }
    &__main {
        background-color: rgba(22,22,22,.9);
        margin-top:-1rem;
        height:80rem;
        padding-top: 1rem;
        
        &--text {
            color: white;
            font-size: 4rem;
        }
        &--subtext {
            color: white;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        &--name {
            font-weight: bold;
        }
    }
    &__logo {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    
    &__users {
        display: flex;
        width: 120rem;
        justify-content: center;
    }
    &__link {
        color: rgb(240,240,240);
        text-decoration: none;
        font-size: 3rem;
        background: linear-gradient(rgba(67,89,4,1), rgba(58,81,6,1));
        display: inline-block;
        padding: 0 1rem;
        border: 3px solid rgb(115,87,45);
        
        margin-top:2rem;
    }
    &__selected {
        border: 5px solid black;
    }
    &__empty {
        padding: 20px;
        border:5px solid rgba(20,20,20,.9);
        background-color: rgba(22,22,22,.9);
        width:240px;
        height:350px;
        color: white;
    }
}