.SwitchUser {
    
    position: relative;
    width:100%;
    height:100vh;
    // background: url('../../assets/images/forest3.jpg');
    
    padding-top:2rem;

    &__forest {
        background: url('../../assets/images/backgrounds/forest3.jpg');
        background-size: cover;
        background-position: center;
    }
    &__ocean {
        background: url('../../assets/images/backgrounds/ocean3.jpg');
        background-size: cover;
        background-position: center;
    }
    &__mountains {
        background: url('../../assets/images/backgrounds/mountains3.jpg');
        background-size: cover;
        background-position: center;
    }


    &__container {
        width:100rem;
        margin-left: auto;
        margin-right: auto;
        
        @include respond(tab-land) {
            width: 80rem;
        }
        @include respond(tab-port) {
            width: 70rem;
        }
        @include respond(phone) {
            width: 60rem;
        }
    }
    &__button {
        display: inline-block;
        padding: 2rem;
        margin-top: 1rem;
        color: white;
    }
    &__selected {
        border: 1px solid white;
    }
    &__header {
        border-top:2px solid $color-gold;
        border-bottom: 2px solid $color-gold;
        width: 50rem;
        background-color: rgba($color-grey-darkest,.9);
        color: $color-grey-lightest;
        font-size: 3rem;
        padding: 1rem 0;
        line-height: 5rem;
        margin-bottom: 2rem;
        position: relative;

        @include respond(tab-land) {
            width: 36rem;
            font-size: 2.4rem;
        }
        @include respond(tab-port) {
            width: 32rem;
        }
        @include respond(phone) {
            width: 25rem;
            font-size: 2rem;
        }
    }
    &__main {
        background-color: rgba($color-grey-darkest,.95);
        margin-top:-1rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
        position: relative;
        &--text {
            color: white;
            font-size: 4rem;
        }
        &--subtext {
            color: white;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        &--name {
            font-weight: bold;
        }
    }
   
    
    &__users {
        display: flex;
        width: 100rem;
        justify-content: center;
        
        @include respond(tab-land) {
            width: 80rem;
        }
        @include respond(tab-port) {
            width:70rem;
           
        }
        @include respond(phone) {
            width: 60rem;
        }
        
    }
    &__link {
        color: white;
        text-decoration: none;
        font-size: 2.4rem;
        // background: linear-gradient(rgba(67,89,4,1), rgba(58,81,6,1));
        
        background-color: $color-grey-darkest;
        display: inline-block;
        padding: .5rem 2rem;
        border: 2px solid $color-gold;
        border-radius: 3rem;
        margin-top:2rem;
    }
    &__mainmenu {
        background-color: $color-green;
    }
    &__deleteuser {
        background-color: $color-red;
    }
    &__empty {
        padding: 20px;
        border:5px solid rgba(20,20,20,1);
        background-color: rgba($color-grey-darkest,1);
        width: 24rem;
        height: 35rem;
        color: white;
    }
}