.CompletedTask {
    display: flex;
    background-color: white;
    padding: 0 2rem;
    height: 4rem;
    &__image {
        width: 4rem;
        height: 4rem;
    }
    &__label {
        font-size: 1.6rem;
        margin-left: .5rem;
        width: 12rem;
        margin-left: 3rem;
    }
    &__time {
        width: 10rem;
        font-size: 1.6rem;
        margin-left: 3rem;
    }
    &__exp {
        margin-left: 3rem;
        font-size: 1.6rem;
    }
}

.CompletedTask:not(:last-child) {
    border-bottom: 1px solid $color-grey-medium;
}