.TaskHistory {
    display: flex;
    flex-direction: column;
    width: 100rem;
    margin: 0 auto;
    background-color: $color-grey-lightest;
    padding: 2rem;
    padding-bottom: 4rem;   

    @include respond(tab-land) {
        width:80rem;
    }
    @include respond(tab-port) {
        width:60rem;
    }

    &__columns {
        display: flex;
        justify-content: space-around;
       
        @include respond(tab-port) {
            flex-direction: column;
        }
    }
    &__tasks {
        margin: 0 auto;
    }
    &__label {
        margin: 0 auto;
        font-size: 3rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    &__first10 {
        
    }
    &__second10 {
        
    }
    
}