.favorites-icon {
    width: 5rem;
    height: 5rem;

    @include respond(tab-land) {
        width: 4rem;
        height: 4rem;
    }
    @include respond(tab-port) {
        width: 3rem;
        height: 3rem;
    }
}