.Header {
    color: white;
    background-color: $color-grey-lightest;
    text-align: center;
    font-size: 1.4rem;
    width: 40rem;
    background-color: rgba($color-grey-darkest,.9);
    border-top: 2px solid $color-gold;
    border-bottom: 2px solid $color-gold;
    margin-bottom: 1rem;

    
    &__container {
        width: 100rem;
        margin: 0 auto;
    }
    
    &__text {
        position: relative;
    }
}