.AchievementTask {
    border: 1px solid $color-grey;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    width: 14rem;
    height: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    
    &__image {
        width: 5rem;
        height: 5rem;
        align-self: center;
    }
    
}