.Status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75rem;
    margin: 0 auto;
    

    &__name {
        font-size: 4rem;
        margin-left: -4rem;
        color: $color-grey-lightest;
    }
    &__icons {
        display: flex;
        margin-bottom: -1rem;
    }
    
    &__profile {

        &--image {
            width: 6rem;
            height: 6rem;
            margin-bottom: -1rem;
        }
    }
}

.Status__selected {
     border: 4px solid $color-gold;
}