.status {
    display: flex;
    justify-content: center;
    
    width: 800px;
    
    margin: 0 auto;
    

    &__name {
        font-size: 4rem;
        margin-right: 2rem;
        
    }
    &__exp {
        font-size: 30px;
        margin-left:40px;
    }
    &__icons {
        display: flex;
        margin-top: 10px;
    }
}

.Status__selected {
    border: 4px solid blue;
}