.ExpBar {
    


    &__container {
        width: 20rem;
        border: 1px solid $color-black;
        position: relative;
        height: 4rem;
        background-color: $color-grey-lightest;
    }
    &__progress {

    }
    &__level {
        color: $color-black;
        position: absolute;
        font-size: 2rem;
        line-height: 2rem;
        top: 1rem;
        left: 6.4rem;
        
    }
}

.animation {
    transform: translateY(-100px);
    
}

.exp-gain {
    opacity: 0;
    color: $color-grey-lightest;
    position: absolute;
    height:0px;
    
    font-size: 3rem;
   
}
@keyframes anim {
    0%   {top: 0px;}
    100% {top: -50px;}
  }

.exp-gain-animated {
    opacity: 1;
    position: relative;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}