.ExpBar {
    


    &__container {
        width: 200px;
        border: 1px solid yellow;
        position: relative;
        height: 4rem;
    }
    &__progress {

    }
    &__level {
        color: rgb(107, 43, 43);
        position: absolute;
        top: 1rem;
        left: 5rem;
    }
}

.animation {
    transform: translateY(-100px);
}

.exp-gain {
    opacity: 0;
    color: black;
    
}
@keyframes anim {
    0%   {top: 0px;}
    100% {top: -50px;}
  }

.exp-gain-animated {
    opacity: 1;
    position: relative;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}