.CreateProfile {
    z-index: 1000;
    position: absolute;
    // background: url('../../assets/images/forest2.jpg');
    width: 100%;
    min-height: 100vh;

    &__forest {
        background: url('../../assets/images/backgrounds/forest2.jpg');
        background-size: cover;
        background-position: center;
    }
    &__ocean {
        background: url('../../assets/images/backgrounds/ocean2.jpg');
        background-size: cover;
        background-position: center;
    }
    &__mountains {
        background: url('../../assets/images/backgrounds/mountains2.jpg');
        background-size: cover;
        background-position: center;
    }


    &__container {
        width:100rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;

        @include respond(tab-land) {
            width: 80rem; //1 rem = 9px 9/16
        }
        @include respond(tab-port) {
            width: 70rem; //1 rem = 9px 9/16
        }
        @include respond(phone) {
            width: 60rem; //1 rem = 9px 9/16
        }
    }
    &__header {
        background-color: rgba($color-grey-darkest,.9);
        border-top: 2px solid $color-gold;
        border-bottom: 2px solid $color-gold;
        width: 40rem;
        color: $color-grey-lightest;
        margin-bottom: 2rem;
        font-size: 2.4rem;
    }
    &__main {
        background-color: rgba($color-grey-darkest,.9);
        margin-top:-1rem;
        padding-bottom: 3rem;
        padding-top: 1rem;
        
        &--text {
            color: white;
            font-size: 4rem;
        }
        &--subtext {
            color: white;
        }
    }
    &__input {
        height: 5rem;
        width: 40rem;
        font-size: 4rem;
        background-color: $color-black;
        border: none;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        border-bottom: 1px solid $color-gold;
        border-top: 1px solid $color-gold;
    }
    &__favorite {
        border: 3px solid rgba($color-red, .9);
        border-radius: 2px;
    }
    &__selected {
        border: 5px solid $color-red;

    }
    &__button {
        font-size: 2rem;
        border: 2px solid $color-gold;
        background-color: $color-grey-darkest;
        padding: 0 2rem;
        border-radius: 10rem;
        margin-top: 1rem;
        display:inline-block;
        color: $color-grey-lightest;
        text-decoration: none;
    }
    &__disabled {
        text-decoration: line-through;
    }
    &__create {
        background-color: $color-green;
    }
    &__mainmenu {
        background-color: $color-red;
    }
    &__label {
        color: $color-grey-lightest;
        font-size: 2rem;
        border-top: 1px solid $color-gold;
        border-bottom: 1px solid $color-gold;
        margin: 0 10rem;
        background-color: rgba($color-black,.5);

        
        @include respond(tab-port) {
            margin: 0 5rem; 
        }
        
    }
    &__images {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    &__foods {
        display: flex;
        justify-content: space-between;
        width: 60rem;
        margin: 1rem auto;
        
        @include respond(phone) {
            width: 40rem;
        }
        img {
            width: 6rem;
            height: 6rem;
            cursor: pointer;
        }
    }
    &__activities {
        display: flex;
        justify-content: space-between;
        width: 40rem;
        margin: 1rem auto;
        img {
            width: 6rem;
            height: 6rem;
            cursor: pointer;
        }
    }
    &__natures {
        display: flex;
        justify-content: space-between;
        width: 60rem;
        margin: 1rem auto;
        @include respond(phone) {
            width: 40rem;
        }
        img {
            width: 6rem;
            height: 6rem;
            cursor: pointer;
        }
    }
}

.profile-image {
    width: 12rem;
    height: 15rem;
    cursor: pointer;

    @include respond(phone) {
        width: 9rem;
        height: 12rem; //1 rem = 9px 9/16
    }
}


.create__button {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}